html,body {
    height: 100%;
}

.navbar-brand {
    width: 100%;
    margin-right: 0px;
}

.u-icons {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-pills > .nav-link {
    width: 100%;
    border-radius: 0px;
    text-align: center;
    font-size: x-large;
    color: rgb(56, 55, 55);
}

.nav-pills .nav-link.active {
    background-color: rgb(163 24 0);    
}

.nav-pills > .nav-link:hover {
    background-color: rgb(212, 210, 209); 
}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link:hover {
    background-color: rgb(163 24 0);    
}

.u-bar {
    width: 75px;
    z-index: 2;
    background-color: white;
    border: solid 1px #e1e1e1;
}

.open-drawer {
    transform: translateX(0%);
    transition: transform ease-in-out 100ms;
}

.close-drawer {
    transform: translateX(-100%);
    transition: transform ease-in-out 100ms;
}

.u-menu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 75px;
    background-color: white; 
    box-shadow: 0 0 0.5rem hsl(300, 40%, 5%);
    border-radius: 0 7px;
}
.overlay {
    z-index: 1;
}

.sidebar {
    margin-right: 0px;
    margin-left: 0px;
}

.main {
    padding: 10px;
}

.main-header {
    text-align: center;
}

.section-home {
    margin-top: 25px;
}

.sub-section-home>.col {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #e7e2e2;
}