{% extends "university/layout.html" %}
{% load static %}

{% block body %}
<div class="container section-home">
    <h3>{{ student_course.course.code }} {{ student_course.course.name }}</h3>
    <div class="row course-page-row">
        <h5>Lectures</h5>
        {% for content in student_course.course.course_content.all %}
        <div class="accordion" id="accordion-lecture-{{ content.id }}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ content.id }}" aria-expanded="false" aria-controls="collapseOne">
                        {{ content.name }}
                    </button>
                </h2>
            <div id="collapse-{{ content.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion-lecture-{{ content.id }}">
                <div class="accordion-body">
                    <p>{{ content.description }}</p>
                    <p><strong>Lecture:</strong> <a href="{{ content.lecture_url }}" target="_blank">{{ content.lecture_url }}</a></p>
                    <p><strong>Notes:</strong> <a href="{{ content.notes }}" target="_blank">{{ content.notes }}</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}