{% extends "university/layout.html" %}
{% load static %}

{% block body %}
<div class="degree-home h-100">
    <div class="container section-home">
        <div class="row">
            {% for mydegree in mydegrees %}
                <div class="col-sm-3">
                    <a href="#degree" class="card course-card mx-auto degree-card" onclick="loadDegree({{ mydegree.id }})">
                        <img src="{% static 'university/assets/courses/photos/course-photo.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">{{ mydegree.degree.code }}<br>{{ mydegree.degree.name }}</h6>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="degree-modal"></div>
{% endblock %}

{% block script %}
<script src="{% static 'university/courses.js' %}"></script>
{% endblock %}