{% extends "university/layout.html" %}
{% load static %}

{% block body %}
<div class="container section-home">
    <div class="row">
        {% for sem in previousSems %}
            <h4>{{ sem.semester.name }} {{ sem.semester.start.year }}</h4>
            {% for student_course in sem.studentsemester_courses.all %}
                <div class="col-sm-3">
                    <a href="{% url 'course' student_course.course.code %}" class="card course-card mx-auto">
                        <img src="{% static 'university/assets/courses/photos/course-photo.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">{{ student_course.course.code }}<br>{{ student_course.course.name }}</h6>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}