{% extends "university/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="profile-header containter">
    <img src="{% static 'university/assets/university/photos/profile-banner.jpeg' %}" class="profile-banner" alt="Responsive image">
</div>

<div class="d-flex align-items-center min-vh-100">
    <div class="container edit-profile-form-container">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'editprofile' user.username %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-title">
                        {% if message|length > 0 %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                        Edit profile
                    </div>
                    <table>
                        {{ addressForm.as_table }}
                    </table>
                    <table>
                        {{ profileForm.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
