{% extends "university/layout.html" %}
{% load static %}

{% block body %}
<div class="main col">
    <div class="main-header">
        <h1>
            Welcome to the University Portal!
        </h1>
    </div>
    <div class="container section-home">
        <div class="row sub-section-home">
            <div class="card" style="max-width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="max-width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}