{% extends "university/layout.html" %}
{% load static %}

{% block body %}
<div class="main col">
    <div class="main-header">
        <h1>
            Welcome to the University Portal!
        </h1>
    </div>
    <div class="container section-home">
        <div class="card">
            <img src="{% static 'university/assets/university/photos/University.jpg' %}" class="object-fit-contain" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}